# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Dependencies
node_modules/

# Build Output
dist/
out/

# OS Files
.DS_Store
Thumbs.db

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
